Redirect 301 /xalan-c/apiDocs https://apache.github.io/xalan-c/api
Redirect 301 /xalan-c/builddocs.html https://apache.github.io/xalan-c/build.html
Redirect 301 /xalan-c/buildlibs.html https://apache.github.io/xalan-c/build.html
Redirect 301 /xalan-c/charter.html https://apache.github.io/xalan-c/charter.html
Redirect 301 /xalan-c/commandline.html https://apache.github.io/xalan-c/commandline.html
Redirect 301 /xalan-c/download.html https://apache.github.io/xalan-c/download.html
Redirect 301 /xalan-c/extensions.html https://apache.github.io/xalan-c/extensions.html
Redirect 301 /xalan-c/extensionslib.html https://apache.github.io/xalan-c/extensionslib.html
Redirect 301 /xalan-c/faq.html https://apache.github.io/xalan-c/faq.html
Redirect 301 /xalan-c/getstarted.html https://apache.github.io/xalan-c/introduction.html
Redirect 301 /xalan-c/index.html https://apache.github.io/xalan-c/
Redirect 301 /xalan-c/install.html https://apache.github.io/xalan-c/install.html
Redirect 301 /xalan-c/license.html https://apache.github.io/xalan-c/license.html
Redirect 301 /xalan-c/overview.html https://apache.github.io/xalan-c/overview.html
Redirect 301 /xalan-c/programming.html https://apache.github.io/xalan-c/programming.html
Redirect 301 /xalan-c/readme.html https://apache.github.io/xalan-c/releases.html
Redirect 301 /xalan-c/releasenotes.html https://apache.github.io/xalan-c/releases.html
Redirect 301 /xalan-c/resources https://apache.github.io/xalan-c/
Redirect 301 /xalan-c/resources.html https://apache.github.io/xalan-c/
Redirect 301 /xalan-c/samples.html https://apache.github.io/xalan-c/samples.html
Redirect 301 /xalan-c/secureweb.html https://apache.github.io/xalan-c/secureweb.html
Redirect 301 /xalan-c/test-faqs.html https://apache.github.io/xalan-c/faq.html
Redirect 301 /xalan-c/testdownload.html https://apache.github.io/xalan-c/download.html
Redirect 301 /xalan-c/usagepatterns.html https://apache.github.io/xalan-c/usagepatterns.html
Redirect 301 /xalan-c/whatsnew.html https://apache.github.io/xalan-c/releases.html
